/*
Theme Name:     Neve Child
Theme URI:      https://themeisle.com/themes/neve/
Template: neve
Author:         ThemeIsle
Author URI:     https://themeisle.com
Description:    Neve is a super fast, easily customizable, multi-purpose theme. It’s perfect for blogs, small business, startups, agencies, firms, e-commerce shops (WooCommerce storefront) as well as personal portfolio sites and most types of projects. A fully AMP optimized and responsive theme, Neve will load in mere seconds and adapt perfectly on any viewing device. While it is lightweight and has a minimalist design, the theme is highly extendable, it has a highly SEO optimized code, resulting in top rankings in Google search results. Neve works perfectly with Gutenberg and the most popular page builders (Elementor, Brizy, Beaver Builder, Visual Composer, SiteOrigin, Divi). Neve is also WooCommerce ready, responsive, RTL & translation ready. Look no further. Neve is the perfect theme for you!
Version:        1.0.0
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    neve
Tags: blog, custom-logo, e-commerce, rtl-language-support, post-formats, grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready, wide-blocks, block-styles
*/

@import url("../neve/style.css");

.nv-page-title h1{
	text-decoration:underline;
}


#nv-primary-navigation-main > .menu-item > a{
	border-style:solid;
	border-width:3px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
	border-color:#f39c12;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:8px;
}


.sd-social-icon-text .share-twitter a{
	background-color:#5aaee6 !important;
}


#header-grid .header-main .header-main-inner{
	background-color:#e5e5e5;
	background-image:linear-gradient(to right, #70e1f5 0%, #ffd194 100%);
}


#nv-primary-navigation-main > .menu-item > a{
	box-shadow:0px 1px 6px 1px #404248;
}


.elementor-element-a554f59 .elementor-widget-button a{
	animation-fill-mode:both;
	--animation-trigger-repeat:infinite;
}
.elementor-element-a554f59 .elementor-widget-button a:hover{
	animation-duration:0.2s;
	animation-delay:0s;
	animation-name:pulse;
}


.wrapper .nv-sidebar-wrap{
	background-image:linear-gradient(-6deg, rgba(255,128,8,0.43) 0%, rgba(255,200,55,0.1) 100%);
	background-size:auto;
	padding-top:30px;
	padding-bottom:24px;
}


.wrapper .nv-sidebar-wrap{
	background-image:linear-gradient(-6deg, rgba(255,128,8,0.43) 0%, rgba(255,200,55,0.1) 100%);
	background-size:auto;
	padding-top:30px;
	padding-bottom:24px;
}
#secondary .widget p{
	background-color:#f6b778;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	padding-left:12px;
	padding-right:12px;
	padding-top:1px;
	padding-bottom:1px;
}


.wrapper .widget label input[type=search]{
	border-color:#e17c09 !important;
}


#content{
	background-image:url("http://ponkysensation.com/wp-content/uploads/2020/05/background_pattern-01-1.png");
	background-blend-mode:normal;
}


.nv-content-wrap a:not(.button), .nv-comment-content a {
    opacity: 1;
  	transition: 0.3s;
}
.nv-content-wrap a:hover{
	color: #FFC300;
	font-size: 105%;